

.action-link {
    color: #0366d6;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-input {
    border-radius: 10px;
    border: 1px solid #b4b4bb;
    background: #fff;
    outline: none;
    padding: 15px 30px;
    color: #aaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.default-btn{
    text-align: center;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    background-color: #152540;
    border-radius:99px ;
    cursor: pointer;
}